@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  font-family: "DM Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @layer responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}

.ql-snow {
  background-color: white;
}
.ql-editor:focus {
  border: 1px solid rgb(88, 88, 88);
}

.rdp-months {
  width: 100% !important;
}
.rdp-month_grid {
  width: 100% !important;
}
